<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <div class="row">
        <div class="col-md-6">
            <h1>Account page</h1>

            <p>Welcome to your account</p>

            <table>
                <tr>
                    <th>First Name:</th>
                    <td th:text="${customer.firstName}">First Name</td>
                </tr>
                <tr>
                    <th>Last Name:</th>
                    <td th:text="${customer.lastName}">Last Name</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td th:text="${customer.email}">Email</td>
                </tr>
                <tr>
                    <th>Registration Date:</th>
                    <td th:text="${customer.createDate}">Registration Date</td>
                </tr>

            </table>


        </div>
    </div>

</div>

</body>
</html>