<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
	  layout:decorator="layout/layout">

<head>
<title>Layout</title>
</head>

<body>

	<div layout:fragment="content">
		<div align="center">
			<h1>Create New Customer</h1>
			<br />
			<form action="#" th:action="@{/saveCustomer}" th:object="${customer}"
				  method="post">

				<table border="0" cellpadding="10">
					<tr>
						<td>First Name:</td>
						<td><input type="text" th:field="*{firstName}" /></td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td><input type="text" th:field="*{lastName}" /></td>
					</tr>
<!--					<tr>-->
<!--						<td>Release Year:</td>-->
<!--						<td><input type="date" th:value="${releaseYear}" th:field="${releaseYear}" /></td>-->
<!--					</tr>-->
					<tr>
						<td>Email:</td>
						<td><input type="email" th:field="*{email}" /></td>
					</tr>
					<tr>
						<td colspan="2"><button class="button w-100" type="submit">Save</button> </td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>
</html>