<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout/layout">

<head>
    <title>Layout</title>
</head>

<body>

<div layout:fragment="content">

    <h1>Account page</h1>

    <p>Welcome to your account</p>

    <table>
        <tr>
            <th>First Name:</th>
            <td th:text="${staff.firstName}">First Name</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td th:text="${staff.lastName}">Last Name</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td th:text="${staff.email}">Email</td>
        </tr>
    </table>

    <form th:action="@{/logout}" method="post">
        <input class="button" type="submit" value="Sign Out"/>
    </form>

</div>

</body>
</html>